   *{
       margin: 0 auto; 	
       text-decoration: none;
       list-style: none;
         font-family: "Microsoft YaHei";
        } 
      
    body{ 
		overflow:scroll; 
		overflow-x:hidden; 
				}
	/*左侧*/
		.floor-nav{
				height: auto;
				width: 50px;
				text-align: center;
				position: fixed;
				top: calc(50% - 250px);
				left: 80px;
				z-index: 999;
			}
			.scroll-nav{
				display: inline-block;
				background: #fff;
				width: 50px;
				height: 50px;
				line-height: 23px;
	 			cursor: pointer;
				 border-bottom-width: 1px;
           border-bottom-style: solid;
                   border-bottom-color: rgb(235, 235, 235);
			}
			.scroll-nav.active{ color: white; background: #975D37; font-weight: bold; 			}
			.scroll-floor{width: 100%;height: 1000px;}
		/*右侧	*/
		
.side {
	position: fixed;
	width: 34px;
	height: 275px;
	right: 0;
	top:140px;
	z-index: 100;
	margin: auto;
	text-align: center;
	
}

.side ul li {
	width: 34px;
	height:50px;
	/*float: left;*/
	position: relative;
	/*border-bottom: 1px solid #444;*/
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
}

{
		width: 25px;
	height: 34px;
}
.side ul li .sidebox {
	position: absolute;
	width: 34px;
	height: 34px;
	top: 20px;
	right: 0;
	transition: all 0.3s;
	background: #000;
	opacity: 1;
	filter: Alpha(opacity=80);
	color: white;
	font: 13px/54px "微软雅黑";
	overflow: hidden;
	margin: auto;
	text-align: center;
    text-decoration: none;
}

.side ul li .sidetop {
	width: 34px;
	height: 34px;
	line-height: 34px;
	display: inline-block;
	background: #000;
	opacity: 1;
	filter: white(opacity=80);
	transition: all 0.3s;
	margin: auto;
	text-decoration: none;
	color: white;
}

.side ul li .sidetop:hover {
	background: red;
	opacity: 1;
	color: white;
	filter: white(opacity=100);
	margin: auto;
	text-decoration: none;
}


.side ul li img {
	position: relative;
	top: 5px;
	margin: 2 auto;
}
.main-right-a{
	position: relative;
	top: -8px;
	left: 2px;
	color: white;
	text-decoration: none;
}
				
	/*	头部 head*/
	.main-right{
		height: 100%;
		width: 34px;
		position:fixed ;
	    right: 0;
		background-color: #000000;
		z-index: 6;
	}
	 #header{
		/*100%指的是浏览器宽度多大，header就多宽*/
		width: 100%;
		height: 30px;
		background-color: #f6f6f6;
	}
	.header-center{
		width: 1200px;
		height: 30px;
		/*border: 1px solid red;*/
		margin: 0 auto;
	}
	.header-left{
		position: absolute;
		z-index: 6;
		top: -130px;
		left: -405px;
	}
	#header .header-center .header-left a{
		/*设置字体大小*/
		font-size: 12px;
		color: #888888;
		/*文本垂直方向居中*/
		line-height: 30px;
		border-right: 1px solid #ececec;
		/*没有宽高的属性*/
		display: inline-block;
		height: 30px;
		width: 100px;
	}
	.header-right{
		position: relative;
	}
	#header .header-center .header-right a{
		/*设置字体大小*/
		font-size: 12px;
		color: #888888;
		text-decoration: none;
	}
	/*a标签划过颜色改变*/
	#header .header-center .header-left a:hover{
	color:#0085d0
	}
	#header .header-center .header-right a:hover{
	color:#0085d0
	}
	#header .header-center .header-left{
		float: left;
	}
	#header .header-center .header-right{
		float: right;
		line-height: 30px;
	}
	#header .header-right img{
		/*图片和文字垂直方向居中*/
		vertical-align: middle;
	}
	#header .header-right span{
		font-size: 12px;
		color: #888888;
	}
	#header #register{
		color: red;
	}
	#header #register a{
		color:#0085d0;
	}
	/* 1好店logo*/
		/*logo*/
	#logo{
		width: 1200px;
		height: 150px;
		margin: 0 auto;
	  position:relative;
	  z-index: 4;
	}
     #logo .logo-left img{
        
		height:150px ;
	 	 position:absolute;
         left:-50px;
	 }
	 
      #logo .logo-right {
      	 width: 130px;
      	 height: 40px;
      position: absolute;
      left: 1000px;
      top: 50px;
      }
      #logo .logo-center-under {
      	 position: absolute;
        left: 300px;
         top: 90px;
      }
       #logo .logo-center-under1{
     	 position: absolute;
        left: 300px;
         top: 130px;
     }
      #logo .logo-center-under a{
      	  color:#C7B1AA ;
         font-size:13PX;
      	text-decoration: none;
      }
      #logo .logo-center-under1 a{
      	color: #333333;
      	font-size:15PX;
      	text-decoration: none;
         
      }
     /* 鼠标悬停变成红色*/
    #logo .logo-center-under1   a:hover{
    	color: red;
    }
    #logo .logo-center-under   a:hover{
    	color: red;
    }
    .clear{
    	clear: both;
    }
   /* flash*/
    #flash{
    	width: 1200px;
    	height: 400px;
    /*	background: black;*/
    	margin: auto;
    	position: relative;
    	top: 10px;
    
    }
    /**/
  
  /**/  #time{
    	width: 1200px;
    	height: 140px;
    	margin: auto;
    /*	background-color: yellow;*/
    	/*position: absolute;
    	top: 600px;
    	left: 200px;*/
    	position: relative;
    	top: -20px;
   	
    }
   /* 倒计时*/
  .data-show-box{
			line-height:30px;
			}
		 .data-show-box-middle{
		 	width: 165px;
		   position: absolute;
		   top: 70px;
		   left: 22px;
		 }
		 .data-show-box-top{
		 	line-height: 40px;
		 	text-align: center;
		 	color: white;
		 	font-size: 20px;
		 	font-weight:800;
		 }
		 .data-show-box-top1{
		 	line-height: 30px;
		 	text-align: center;
		 	color: black;
		 }
		 .data-show-box-under {
		 	line-height: 88px;
		 	text-align: center;
		 	color: white;
		 }
      .date-tiem-span,.date-s-span{
      	display: inline-block;
      	
      	font-size:18px;
      	 width:36px; 
      	 height:30px;
      	 line-height:30px; 
      	 text-align: center; 
      	 color:#fff; 
      	 border-radius:5px;}
	   .date-tiem-span{ background:#333;}
        .date-s-span{ background:#333;}
      .time-right{
      	width: 1024px;
      	height: 140px;
      /*	background-color: black;*/
       	position: relative;
       	top: -140px;
       	left:160px ;
      
      }
       
         /*  品牌特卖*/
  #sample-sale{
   	width: 1200px;
   	height: 320px;
   	/*background-color: grey;*/
    position: relative;
    top: 0px;
    margin: auto;
    
   }
   div.sample-sale-left{
   	width: 210px;
   	height: 320px;
   /*	background-color: red;*/
   float: left;
   }
   div .sample-sale-left-center{
   	width: 160px;
   	height: 80px;
   	background-color:white ;
   	opacity: 0.9;
   	position: relative;
   	top: -100px;
   	text-align: center;
     padding-top: 5px;
     margin: auto;
     line-height: :;px;
   }
   div.sample-sale-middle{
   	width: 400px;
   	height: 320px;
 /*  	background-color: red;*/
   position: absolute;
   left: 220px;
   }

 
 .sample-sale-middle em{
     display: inline-block;
    position: relative;
    top: -3px;
    width: 140px;
    margin-top: -3px;
    font-size: 18px;
 }
 .sample-sale-middle-left{
 	width: 200px;
 	height:288px;
 	/*background-color: brown;*/
 	float: left;
 }
 .sample-sale-middle-right{
 	width: 200px;
 	height:288px;
 	/*background-color:aquamarine;*/
 	float: right;
 }
 .sample-sale-middle-right{
 	width: 200px;
 	height: 144px;
 	padding-top: 15px;
 }
 .sample-sale-middle-right-under{
 	width: 200px;
 	height: 144px;
 		padding-top: 15px;
 		/*background-color: #000000;*/
 		position: absolute;
 		top: 160px;
 }
    div.sample-sale-right{
   	width: 570px;
   	height: 320px;
   	/*background-color: red;*/
   position: absolute;
   left: 630px;
   }
   div.sample-sale-right-phbang{
   	width:570px ;
   	height: 280px;
  /*	background-color: royalblue;*/
     position:relative;
     top: 446px;
     

   }
   .tab-content{
   	position: absolute;
   	top: -415px;
   }
  
   .tab-pane-img img{
   	width: 130px;
   	height: 130px;
  
   }
   #tab-pane-img-table tr{
   	text-align: center;
   	
   }
   #tab-pane-img-table a{
     text-decoration: none;
   }
    #tab-pane-img-table a:hover{
    	color: red;
    }
   #tab-pane-img-table img{
   	
   	width: 100px;
   	height: 100px;
   	padding-top: 0px;
   }
   
   /*图片飘动*/
  .img:hover{
  	position: relative;
  	transform: translate3d(-5px,0px,0px);
  }
  .img2:hover{
  	position: relative;
  	transform: translate3d(5px,0px,0px);
  }
  /*优惠券*/
  /*  优惠券*/
    #discount{
   	width: 1200px;
   	height: 130px;
   /*	background-color: #000000;*/
   	position: relative;
   	top: 5px;
   	margin: auto;
   }
    #discount img{
    	width: 1200px;
    	height: 110px;
    	position: relative;
      top: 8px;
      margin: auto;
    }
    div.clear{
    	clear: both;
    }
   /* 全球进口*/
  #allear{
  	width: 1200px;
     height: 450px;
     background-color: #C1C1C1;
     margin: auto;
     position: relative;
  }
  
   .banner_link {
   	width: 296px;
   	height: 80px;
    position: relative;
/*   background-color: yellow;*/
       /* display: block;*/	
/*        top: 50px;*/
      /*left: 0px;*/
   
   /*top: 1550px;*/
   /*left: 185px;*/
    z-index: 1500;
    float: left;
    top: -110px;
    left: 25px;
   
 
}
   .banner_link li a {
    display: block;
    width: 83px;
    height: 28px;
    margin: 0 10px 10px 0;
    border: 1px solid rgba(255,255,255,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19FFFFFF',endColorstr='#19FFFFFF');
    background-color: rgba(255,255,255,0.1);
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    float: left;
      text-decoration: none;
     
}

  .clearfix-allear ul{
  	    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;	
  }
  .allear-left{
  	width: 320px;
  	height: 450px;
  /*	background-color: black;*/
  		float: left;
  }
  .allear-left img{
  	width: 320px;
  	height: 450px;
  	
  }
  .allear-center{
  	width: 405px;
  	height: 450px;
  	
  		float: left;
  }
  .allear-center-top{
  	width: 405px;
  	height: 225px;
  /*	background-color: #000000;*/
  }
   .allear-center-under{
  	width: 405px;
  	height: 225px;
  /*	background-color: deepskyblue;*/
  }
  .allear-center-under-left{
  	width: 202.5px;
  	height: 225px;
  
  	float: left;
  }
   .allear-center-under-right{
  	width: 202.5px;
  	height: 225px;
  /*	background-color: black;*/
  	float: left;
  }
  .allear-center2{
  	width:216px ;
  	height: 450px;
  	/*background-color: #000000;*/
  	float: left;
  }
  .allear-center2-top{
  	width:216px ;
  	height: 225px;
  /*	background-color: #204D74;*/
  	float: left;
  }
  .allear-center2-under{
  	width:216px ;
  	height: 225px;
  /*	background-color: #204D74;*/
  	float: left;
  }
  .allear-right{
  	width: 259px;
  	height: 450px;
  	float: right;
  	
  	    margin: 0;
    padding: 0;
    list-style: none;
        display: block;
  }
  .allear-right ul{
  	    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start:40px;
        margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .allear-right li{
  	    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
  }
  .allear-right a{
  position: relative;
    display: block;
    width: 129.5px;
    height: 150px;
    overflow: hidden;
    padding: 5px 0 0 12px;
    line-height: 26px;
  color: -webkit-link;
    cursor: auto;
  text-decoration: none;
    
  }
  .jk_mh {
    background-color: #ffe6ee;
}
 .jk_my {
    background-color: #fff3e4;
   
}
.jk_sx {
    background-color: #e9fbf0;
}
 .jk_jj {
    background-color: #f9eee9;
}
 .jk_cw {
    background-color: #f0f8ff;
}
.jk_bj {
    background-color: #e2f8f2;
}
.pro_tit {
    color: #f06291;
   height: 26px;
    overflow: hidden;
    font-size: 14px;
}
.pro_sub_tit {
    position: relative;
    z-index: 105;
    height: 26px;
    overflow: hidden;
    color: #757575;
    font-family: "Century Gothic";
}
.pro_color {
    background-color: #f06291;
        width: 20px;
    height: 3px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
 /* 个户美妆*/
    #ghmz{
    	width: 1200px;
    	height: 430px;
    	margin: auto;
    	/*background-color: yellow;*/
    	position: relative;
    	top: 10px;
    }
    .scroll-floor-center{
    	width: 744px;
    	height: 430px;
    	/*background-color:wheat;*/
    	float: left;
    }
    .keywords{
     height: 40px;
    overflow: hidden;
    border-right: 1px solid #f5f5f5;
    margin-left: 4px;
    color: #aaa;
    
    }
    .keywords li{
    	    float: left;
    	        margin: 0;
         padding: 0;
       list-style: none;
           display: list-item;
    text-align: -webkit-match-parent;
    position: relative;
    right: 30px;
    }
     .keywords li a{
     	    display: inline-block;
    margin: 0 15px;
    line-height: 30px;
    color: #aaa;
     text-decoration: none;
    color: #333;
    font-size: 14px;
    color: ;
     }
   .clearfix {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    content: ".";
   /* height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;*/
} 
  .scroll-floor-center-center{
  	width: 744px;
  	height:195px;
 /* 	background-color: yellow;*/
  }
   .pro_wrap {
    float: left;
    position: relative;
    width: 247px;
    height: 194px;
    overflow: hidden;
    border-top: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;

    font-size: 14px;
    line-height: 24px;
    color: #333;
}
  .pro_wrap a {
    display: block;
    width: 247px;
    height: 174px;
    padding-top: 20px;
        text-decoration: none;
    color: #333;
}
.pro_sub_tit {
    color: #925740;
}
.pro_wrap img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 101;
    width: 130px;
    height: 130px;
        border: 0 none;
    vertical-align: top;
    -webkit-transition: -webkit-transform .4s ease 0s;
    transition: -webkit-transform .4s ease 0s;
    -o-transition: -o-transform .4s ease 0s;
    -moz-transition: transform .4s ease 0s,-moz-transform .4s ease 0s;
    transition: transform .4s ease 0s;
    transition: transform .4s ease 0s,-webkit-transform .4s ease 0s,-moz-transform .4s ease 0s,-o-transform .4s ease 0s;
}

  .scroll-floor_right{
  	width: 240px;
  	height: 430px;
  	/*background-color: whitesmoke;*/
  	float: right;
  }
   .hot_tit {
    margin-top: 15px;
    color: #666;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.scroll-floor_right img{
	position: relative;
	left: 65px;
}
.scroll-floor_right a{
text-decoration: none;
position: relative;
right: 15px;
}

    
    .clear{
    	clear: both;
    }
 /*最底部*/
    /* 最上面*/
   #ft_wrap{
   	width: 1200px;
   	height: 477px;
   /*	background-color: greenyellow;*/
   	margin: auto;
   	position: relative;
   	top: 20px;
   	
   }
   .ft_wrap_top{
   	width: 1200px;
   	height: 127px;
  /* background-color: honeydew;*/
   padding: 30px 0;
   border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
   }
   .ft_wrap_top a{
   	float: left;
    display: block;
    width: 198px;
    height: 66px;
    overflow: hidden;
    margin: 0 51px;
    text-decoration: none;
    color: black;
    /*background-color: yellow;*/
   }
    .ft_wrap_top a img{
    float: left;
    display: block;
    _display: inline;
    width: 66px;
    height: 66px;
    margin-right: 15px;

    }
    img{
     border: 0 none;
    vertical-align: top;
    }
    .ft_wrap_top a b{
    display: block;
    margin-top: 10px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #333;
    }
    .ft_wrap_top a strong,b{
     	font-weight: bold;
     
     }
     .ft_wrap_top a span{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #999;
    line-height: 26px;
     }
    /* 中部*/
    .ft_wrap_center{
    height: 192px;
    width: 1200px;
   /* background-color: blanchedalmond;*/
    padding: 20px 0 20px;
    overflow: hidden;
    margin: 0 auto;
    text-decoration: none;
    }
     .ft_wrap_center_left{
     	width: 795px;
     	height: 152px;
     	float: left;
       padding-left: 15px;
      /* background-color: yellow;*/
     }
     .ft_wrap_center_left dl{
     -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    height: 152px;
    width: 195px;
        margin: 0;
    padding: 0;
    float: left;
   
     }
    .ft_wrap_center_left dt{
    display: block;
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold;
        margin: 0;
    padding: 0;
     text-decoration: none;
    
    }
    .ft_wrap_center_left dd{
     display: block;
    -webkit-margin-start: 40px;
        margin: 0;
    padding: 0;
    line-height: 1.42857143;
     text-decoration: none;
    }
   /*二维码*/
   .ft_wrap_center_right{
   	width: 280px;
   	height: 122.4;
    overflow: hidden;
    float: left;
    margin-right: -50px;
    display: block;
     text-decoration: none;
   }
  .ft_wrap_center_right_left{
  	    float: left;
    margin-right: 50px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
       display: block;
        
  }
  .ft_wrap_center_right_left p{
  	    margin: 0;
    padding: 0;
    list-style: none;
        display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
  .ft_wrap_center_right_left img{
  	 width: 90px;
    height: 90px;
    border: 0 none;
    vertical-align: top;
  }
 
  .ft_wrap_under{
  	widows: 1200px;
  	height: 143px;
  	margin: auto;
  	
  	
  
  }
  .ft_wrap_under p{
  	color: #666;
    text-align: center;
    text-indent: 0;
    line-height: 100%;
    margin: 15px 0;
    padding: 0;
    list-style: none;
    margin: auto;
        display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
  .ft_wrap_under p  a{
  	color: #666;
    margin: 0px 10px;
        text-decoration: none;
            cursor: auto;
  }
  .ft_wrap_small{
 display: block;
    padding: 10px 0 20px;
    text-align: center;
   /* font-size: 0;*/
  }
   .ft_wrap_small img{
   	 height: 32px;
   }
  