@charset "utf-8";
*{
	list-style-type:none;
	padding:0px;
	margin:0 auto;
	text-decoration:none;
	}
/* JS需要的CSS样式 */
.bk_class{
	border:solid 1px #F27E56 !important;
	}
	
.back_color{
	background-color:#F27E56 !important;
	color:#ffffff !important;
	}
	
.bianshou{
	cursor:pointer !important;
	}
	
/* JS需要的CSS样式 */




#head{
	width:100%;
	height:30px;
	line-height:30px;
	background:#F4F4F4;
	border-bottom: 1px solid #E5E5E5;
	min-width: 1200px;
	font-size:12px;
}
.layout{
	margin: 0 auto;
	width: 1200px;
}
.layout::before{
	/*清除浮动*/
	content: "";
	display: table;
}
.layout::after{
	content: "";
	display: table;
}
#head a{
	color:#666666;
	}
#head a:hover{
	color:#FF4040;
	}
#head img{
	width:12px;
	height:16px;
	padding-top: 2px;
}

#left{
	width:150px;
	height:30px;
	float:left;
	padding-left: 20px;
}

#right_r{
	width:500px;
	height:30px;
	line-height:30px;
	float:right;
}
#right_r img{
	width: 5px
	height:5px;
}
#msg>a[title]{
	color:#FE4089;
}
#msg{
	float: left;
	margin-left: 60px;
	width:29%;
}
.menu{
	float: left;
}
#mine{
	width: 90px;
}
#right_r li{
	width:12%;
	height:30px;
	line-height:30px;
	float:left;
	text-align:center;
	list-style-type:none;
}

#right_r li a{
	font-size:12px;
	height:30px;
	line-height:30px;
	}

#right_r li ul{
	width:80px;
	text-align:left;
}

#one1,#two1,#three1{
	display:none;
}

#right_r li ul li{
	font-size:12px;
	float:left;
	line-height:20px;
	list-style-type:none;
	width:80px;
	text-align:center;
}





	
#right{
	position:fixed;
    z-index: 910;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    background-color: #303030;
	}
	

	
#logo{
	width:1441px;
	height:120px;
	margin:0 auto;
	}

#loul{
	width:65%;
	height:25px;
	float:left;
	margin-left:140px;
	margin-top:8px;
	}
	
#loul ul li a{
	width:45px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:12px;
	float:left;
	color:#aaaaaa;
	font-weight:bold;
	}
	
#loul ul li a:hover{
	color:#ff4040;
	}
	
#logo img{
	float:left;
	}

#sss{
	width:60%;
	margin:0 auto;
	float:left;
	margin-top:38px;
	margin-left:150px;
	}
	
#sss img{
	height:44px;
	float:left;
	}
	
#sousuo{
	width:75%;
	height:40px;
	border:solid 2px #ff4040;
	margin:0 auto;
	float:left;
	}
	
#banner{
	width:1441px;
	margin:0 auto;
	background-color:#ffffff !important;
	z-index:9999;
	}
	
#z_banner_foot hr{
	width:100% !important;
	border:solid 1.5px #ff4040;
	
	}
	
#ban_menu{
	width:210px;
	height:40px;
	line-height:45px;
	background-color:#ff4040;
	margin:0 auto;
	float:left;
	color:#ffffff;
	text-align:center;
	}
	
#ban_ul ul li{
	width:60px;
	height:40px;
	float:left;
	padding-left:30px;
	font-weight:bold;
	}
	
#ban_ul ul li a:hover{
	color:#ff4040;
	}
	
#ban_foot{
	width:1441px;
	height:38px;
	line-height:38px;
	margin:0 auto;
	font-size:12px;
	}
	
#ban_foot img{
	float:left;
	margin-top:8px;
	}	
	
#ban_foot span{
	color:#e0e0e0;
	}
	
#ban_foot input{
	border:solid 1px #e0e0e0;
	}
#ban_foot p{
	float:right;
	color:#999999;
	}
	
#hot{
	clear:right;
	width:1441px;
	margin:0 auto;
	}
	
#hot_ban{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
    border:solid 1px #e5e5e5;
	}
	
#ban_head{
	width:105px;
	height:40px;
	background-color:#f8f8f8;
	float:left;
	color:#e1e1e1;
	font-size:12px;
	}
	
#ban_head span{
	color:#999999;
	margin-left:34%;
	}
	
#hot_head span{
	color:#999999;
	margin-left:57%;
	}
	
.foot_head span{
	color:#999999;
	margin-left:30%;
	}
	
#hot_head{
	width:105px;
	height:100px;
	background-color:#f8f8f8;
	float:left;
	color:#e1e1e1;
	font-size:12px;
	}
	
.foot_head{
	margin: 0 auto;
	width: 105px;
	height: 40px;
	line-height: 40px;
	float: left;
	background-color: #f8f8f8;
	color: #e1e1e1;
	font-size: 12px;
	left:3px;
	}
	
#hot_ban ul li{
	width:8%;
	float:left;
	}
	
#hot_ban ul li a{
	font-size:12px;
	color:black;
	}
	
#hot_ban ul li a:hover{
	color:#f27e56;
	}
	
.hot_a{
	display:none;
		}
		
.hot_a span{
	font-size:6px;
	}
	
#hot_center{
	clear:left;
	width:100%;
	height:100px;
	border:1px solid  #e5e5e5;
	margin:0 auto;
	}
	
.hot_foot{
	width:100%;
	height:40px;
	border:solid 1px #e5e5e5;
	float:left;
	}
	
.hot_foot ul{
	margin-left:115px;
	}
	
.hot_foot ul li{
	width:5.5%;
	float:left;
	}
.hot_foot ul li a:hover{
	color:#f27e56;
	}
	
.hot_foot_center ul li{
	width:4.7% !important;
	float:left;
	}
	
.hot_foot ul li a{
	text-align:center;
	font-size:12px;
	}
	
#hot_center_foot{
	margin-left:120px;
	margin-top:7px;
	width:85%;
	}

#hot_center_foot ul li{
	width:8.3%;
	height:40px;
	line-height:40px;
	float:left;
	border:solid 1px #e5e5e5;
	}
	
#hot_center_foot ul li a{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:6px;
	}
	
.button_class_one{
	margin-top:-42px!important;
	}
	
.button_class{
	width:44px;
	height:20px;
	line-height:20px;
	font-size:12px;
	border:solid 1px #dcdcdc;
	background-color:#fbfbfb;
	color:#999999;
	text-align:center;
	border-radius:3px;
	float:right;
	margin-right:90px;
	margin-top:7px;
   }
	
#nav_center{
	clear:both;
	width:1441px;
	height:35px;
	line-height:35px;
	margin:0 auto;
	text-align:center;
	border:solid 1px #e1e1e1;
	background-color:#fafafa;
	}
	
#top_sanjiao{
	width:8px;
	height:8px;
	color:#cccccc;
	float:right;
	font-size:7px;
	margin-top:-3px;
	margin-right:10px;
	margin-left:-25px;
	}
	
#bottom_sanjiao{
	width:8px;
	height:8px;
	color:#cccccc;
	float:right;
	font-size:7px;
	margin-top:3px;
	margin-right:10px;
	margin-left:-25px;
	}
	
#nav_center ul li{
	width:4%;
	height:35px;
	float:left;
	border-right:solid 1px #e1e1e1;
	font-size:12px;
	color:#7a7a7a;
	font-weight:bold;
	display:block;
	}
	
#nav_center ul li:hover{
	color:#F27E56;
	cursor:pointer;
	}
	
	
#nav_price{
	width:9%;
	height:35px;
	line-height:35px;
	float:left;
	border-right:solid 1px #e1e1e1;
	}
	
	
#nav_price input{
	width:30px;
	margin-top:9px;
	border:solid 1px #cccccc;
	}
	
#nav_center_right{
	width:250px;
	height:35px;
	float:right;
	font-size:12px;
    }
#nav_center_right img{
	float:left;
	margin-top:10px;
	}	

.nav_center_right_small{
	width:65px;
	height:35px;
	float:left;
	background-color:#F27E56;
	color:#ffffff;
	font-size:12px;
	}
.small_before{
	background-color:#fafafa;
	color:#333333 !important;
	}
	
.nav_center_right_small img{
	float:left;
	margin-top:10px;
	margin-left:13px;
	}
	
.nav_center_right_small span{
	float:left;
	}

#nav_foot{
	clear:both;
	width:1441px;
	height:35px;
	line-height:35px;
	margin:0 auto;
	border:solid 1px #e1e1e1;
	font-size:12px;
	}
	
#nav_foot a{
	color:black;
	}
	
#nav_foot a:hover{
	color:#E91D2D;
	}
	
#nav_foot input{
	margin:0 auto;
	margin-left:10px;
	width:10px;
	height:10px;
	border:solid 1px #d4d4d4;
	margin-right:4px;
	}

#nav_img{
	height:35px;
	line-height:35px;
	float:right;
	margin-right:61.3%;
	margin-top:8px;
	}

#foot{
	width:1441px;
	height:400px;
	margin:0 auto;
	clear:both;
	}
#foot h5{
	color:#999999;
	line-height:25px;
	}
h5+p{
	font-size:12px;
	line-height:20px;
	color:#999999;
	}

.fphoto{
	width:25%;
	height:70px;
	float:left;
	margin-top:50px;
	}

.ftxt{
	height:70px;
	width:140px;
	float:right;
	margin-right:120px;
	margin-top:15px;
	}
hr{
	border:0.4px solid #ebebeb;
	clear:both;
	}

.ftxt p{
	line-height:30px;
	color:#999999;
	}
#fcontent{
	width:95%;
	height:90px;
	margin:0 auto;
	margin-left:60px;
	margin-bottom:60px;
	}
	
#fcenter{
	width:92%;
	margin:0 auto;
	margin-top:30px;
	}
	
#fcenter ul li{
	width:200px;
	height:25px;
	float:left;
	color:#666666;
	}
li>a{
	text-decoration:none;
	color:#666666;
	font-size:14px;
	line-height:40px;
	}
	
#fhead{
	width:95%;
	height:55px;
	}
	
.btnclass{
	background-color:#fafafa;
	}
	
#btnid{
	width:100px;
	height:55px;
	float:right;
	margin-right:79%;
	}

#show{
	width:1441px;
	margin:0 auto;
	}

.hclass{
	clear:both;
	width:100%;
	height:400px;
	}
	
.vclass{
	clear:right;
	width:270px;
	height:360px;
	float:left;
	padding-top:20px;
	margin-left:5px;
	margin-bottom:5px;
	border:solid 1px #ffffff;
	position:relative;
	}
	
.v_img{
	margin-left:40px;
	}
	
.vclass:hover{
	border:solid 1px #eaeaea;
	box-shadow:1px 2px 3px 4px #fafafa;
	}
	
.right_top{
	widows:67px;
	height:67px;
	position:absolute;
	right:40px;
	top:22px;
	z-index:900;
	
	
	}
	
.pclass{
	padding-left:15px;
	}
	
.p_span{
	clear:right;
	float:right;
	font-size:14px;
	color:#EB6363;
	margin-right:163px;
	margin-top:-15.5px;
	}
	
.pp{
	margin-top:8px;
	padding-left:0 !important;
	}

.pclass img{
	width:18px;
	height:18px;
	float:left;
	vertical-align:middle;
	}
	
.pclass a{
	font-size:12px;
	height:18px;
	line-height:18px;
	margin:0 auto;
	text-decoration:none;
	font-weight:bold;
	}
	
.yichu{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
	
.yichu a{
	color:black;
	}
	
.aaa{
	margin-top:8px !important;
	}
	
.pclass p{
	font-weight:bold;
	color:#e60012;
	}
	
.pclass p+a{
	color:black;
	}
	
.pclass img+a{
	color:#e60012;
	}
	
.pclass br+a{
	color:#666666;
	}

.gclass input{
	float:left;
	width:29px;
	height:28px;
	margin-top:1.5px;
	border:solid 1px #dbdbdb;
	}
	
.up{
	width:14px;
	height:12px;
	line-height:12px;
	border:solid 1px #dbdbdb;
	float:left;
	margin-top:3px;
	margin-left:3px;
	}
	
.up img{
	width:13px;
	height:9px;
	margin-top:0.5px;
	}
	
.down{
	width:14px;
	height:12px;
	line-height:12px;
	border:solid 1px #dbdbdb;
	float:left;
	margin-top:16px;
	margin-left:-16px;
	}
	
.down img{
	margin:0 auto;
	width:13px;
	height:9px;
	margin-top:1px;
	}
	
.g_a{
	width:102px;
	height:32px;
	line-height:32px;
	text-align:center;
	background-color:#ff5c4d;
	margin-left:60px;
    }
	
.g_a a{
	height:32px;
	line-height:32px;
	color:#ffffff;
	}
	
#foot_foot{
	clear:both;
	}
	
#foot_down{
	width:800px;
	height:30px;
	line-height:30px;
	margin:0 auto;
	margin-top:100px;
	}
	
#foot_down ul li{
	width:auto;
	height:30px;
	line-height:30px;
	padding-left:15px;
	float:left;
	}
	
#foot_down ul li a{
	font-size:12px;
	}
	
#foot_down ul li a:hover{
	color:#BA070C;
	}
	
#copyright{
	clear:left;
	width:400px;
	height:30px;
	line-height:30px;
	margin:0 auto;
	color:#666666;
	font-size:12px;
	}
	
#img_show{
	width:850px;
	height:65px;
	margin:0 auto;
	margin-top:20px
	
	}
#img_show ul li{
	width:auto;
	float:left;
	padding-left:10px;
	}

	
#div_show{
	width:13%;
	height:250px;
	display:none;
	background-color:#ffffff;
	z-index:4900;
	position:absolute;
	margin-top:0px;
	margin-left:295px;
	font-size:12px;
	}
	
#div_show input{	
	width:30px;
	margin-top:9px;
	border:solid 1px #cccccc;
}
#div_show ul li{
	width:100%;
	height:35px;
	text-align:left;
	padding-left:10px;
		}