* {
	margin: 0 auto;
	font-size: 12px;
	font-family: "微软雅黑";
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
	float: left;
	width: auto;
	padding-right: 15px;
}

/*顶部账号信息*/

#top {
	height: 30px;
	line-height: 30px;
	background: #F4F4F4;
	border-bottom: 1px solid #E5E5E5;
	min-width: 1200px;
}

.layout {
	margin: 0 auto;
	width: 1200px;
}

.layout::before {
	/*清除浮动*/
	content: "";
	display: table;
}

.layout::after {
	content: "";
	display: table;
}

#top a {
	color: #666666;
}

#top a:hover {
	color: #FF4040;
}

#top img {
	width: 12px;
	height: 16px;
	padding-top: 2px;
}

#left {
	width: 150px;
	height: 30px;
	float: left;
	padding-left: 20px;
}

#left img {
	vertical-align: middle;
}

#mine img {
	vertical-align: middle;
}

#right {
	width: 500px;
	height: 30px;
	line-height: 30px;
	float: right;
}

#right img {
	width: 5px height:5px;
}

#msg>a[title] {
	color: #FE4089;
}

#msg {
	float: left;
	margin-left: 60px;
	width: 100px;
}

.menu {
	float: left;
}

#mine {
	widows: 90px;
}

#right li {
	width: 80px;
	height: 30px;
	float: left;
	text-align: center;
	list-style-type: none;
}

#right li ul {
	width: 80px;
	text-align: left;
}

#one1,
#two1,
#three1 {
	display: none;
}

#right li ul li {
	float: left;
	line-height: 20px;
	list-style-type: none;
	width: 80px;
	text-align: center;
}


/*大搜索框*/

#search1 {
	height: 110px;
}

#logo {
	width: 205px;
	height: 110px;
	float: left;
}

#logo img {
	width: 205px;
	height: 110px;
}

#logoRight {
	width: 995px;
	height: 108px;
	float: left;
}

#sousuo {
	height: 36px;
	width: 930px;
	float: left;
	margin-top: 35px;
	margin-left: 35px;
}

#sousuokuang {
	width: 750px;
	height: 36px;
	border: solid 2px #FF4040;
	border-right: none;
	border-radius: 3px;
	float: left;
}

#sousuokuang input {
	padding-left: 6px;
	width: 691px;
	height: 31px;
	line-height: 31px;
	outline: none;
	border: none;
	font-size: 14px;
}

#sousuokuang img {
	width: 50px;
	height: 39px;
	float: right;
}

#brand {
	width: 780;
	float: left;
	margin-top: 10px;
	height: 38px;
}

#brand a {
	color: #AAAAAA;
	font-size: 14px;
}

#brand a:hover {
	color: #FF4040;
}

#shoppingCar {
	width: 130px;
	height: 36px;
	border: 1px solid #D7D7D7;
	float: right;
	font-size: 16px;
	color: #666666;
	line-height: 36px;
	cursor: pointer;
}

#shoppingCar img {
	width: 47px;
	height: 35px;
	float: left;
}

#nav {
	border-bottom: 2px solid #FF4040;
	height: 40px;
}

#xiala {
	width: 210px;
	float: left;
	background: #FF4040;
	color: #ffffff;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}

#fenlei {
	float: left;
	height: 38px;
	width: 780px;
	line-height: 40px;
	margin-top: 2px;
}

#fenlei a {
	color: #333333;
	font-size: 16px;
	text-decoration: none;
}

#fenlei a:hover {
	color: #E60012;
}

#fenlei ul li {
	padding-right: 25px;
}


/*搜索手机栏*/

#search2 {
	height: 40px;
	line-height: 40px;
}

#search2 span {
	color: #C9C9C9;
}

#suoshuleibie1img {
	width: 20px;
	margin-top: 11px;
	float: left;
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

#sousuoleibie1 {
	float: left;
	width: 120px;
}

#search2 img[title] {
	width: 12px;
	height: 12px;
}

#sousuoleibie2 {
	float: left;
	width: 85px;
	margin-left: 15px;
}

#sousuoleibie3 {
	float: left;
	width: 85px;
	margin-left: 10px;
}

#search2 a {
	color: black;
}

#search2 a:hover {
	color: #FF875A;
}

#search2 input {
	float: left;
	border: 1px solid #E5E5E5;
	margin-top: 10px;
}


/*商品筛选条件*/

#category {
	height: 329px;
	margin-bottom: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.require {
	border: 1px dotted #C9C9C9;
	border-top: none;
	color: #999999;
	text-align: right;
}

.requires {
	height: 35px;
}

#require1 {
	border: 2px solid #C9C9C9;
	height: 120px;
}

.tiaojian {
	float: left;
	width: 118px;
	background: #F8F8F8;
	padding-right: 10px;
	padding-top: 10px;
	height: 25px;
}

#pinPai {
	height: 110px;
}

#pinPaiMingCheng {
	float: left;
	padding: 7px 10px;
	height: 106px;
	width: 1048px;
}

#shoujiIcon {
	float: left;
}

#morePhone {
	float: left;
	width: 70px;
	height: 50px;
}

#aaa {
	margin: 0;
	padding: 2px 5px;
	background: #FBFBFB;
	border-radius: 3px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 35px;
	border: 1px solid #D7D7D7;
}

a[id="aaa"] {
	color: #999999;
}

.zhonglei a {
	color: #000000;
}

.zhonglei a:hover {
	color: #FF9C5A;
}

.zhonglei {
	line-height: 36px;
	float: left;
}

.zhonglei ul li {
	margin-left: 0;
	margin-right: 22px;
}

.zhonglei li {
	list-style-type: none;
	float: left;
	margin-left: 39px;
}

.zhonglei li ul {
	display: none;
	width: auto;
}

.zhonglei input {
	height: 15px;
	width: 35px;
}

#require7 .zhonglei {
	color: #000000;
}

.mChoices {
	background: #FBFBFB;
	border-radius: 3px;
	float: right;
	margin: 7px 5px 7px 5px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 35px;
	border: 1px solid #D7D7D7;
	cursor: pointer;
}

.mChoices a {
	color: #999999;
}

#sort {
	height: 43px;
	margin-top: 13px;
	text-align: center;
}

#sort a {
	color: #000000;
}

#sort a:hover {
	color: #FF9C5A;
}

#sortt {
	height: 41px;
	border: 1px solid #E1E1E1;
	border-bottom: none;
}

#sort1 {
	height: 42px;
	float: left;
	width: 440px;
}

#sort ul li {
	padding: 0 15px;
	height: 42px;
	line-height: 41px;
	border-right: 1px solid #E1E1E1;
	background: #FAFAFA;
}

#sort ul li img {
	vertical-align: middle;
}

#sort1 ul {
	float: left;
	padding-left: 0;
}
#sort1 ul li{
	cursor: pointer;
}
#sort1 ul li:hover{
	color: #FF855B;
}
.xuanZhongTiaoJian{
	color: #FFFFFF !important;
	background: #F27E56 !important;	
}
#nav_price{
	width:9%;
	height:42px;
	line-height:35px;
	float:left;
	border-right:solid 1px #e1e1e1;
	}
	

#input input{
	width:30px;
	margin-top:9px;
	border:solid 1px #cccccc;
	}
#jiaGeLieBiao{
	width:170px;
	height:250px;
	line-height: 42px;
	display:none;
	background-color:#ffffff;
	z-index:4900;
	position:absolute;
	margin-top:0px;
	margin-left:295px;
	font-size:12px;
	}
#jiaGeLieBiao input{	
	width:30px;
	margin-top:9px;
	border:solid 1px #cccccc;
}
#jiaGeLieBiao ul li{
	width:100%;
	height:35px;
	text-align:left;
	padding-left:10px;
		}
#queDing{
	margin-left: 10px;
	padding: 0px 3px;
	background: #FF8860;
	border-radius: 3px;
	color: #FFFFFF;
}
#sort input {
	width: 30px;
}

#sort2 {
	float: right;
}

#number {
	float: left;
}

#img1,
#img2 {
	width: 15px;
	height: 41px;
	float: left;
	margin-right: 5px;
	color: #E1E1E1;
}

.layout1 {
	margin: 0 auto;
	width: 1235px;
}

.layout1::before {
	/*清除浮动*/
	content: "";
	display: table;
}

.layout1::after {
	content: "";
	display: table;
}

#sort4 {
	height: 43px;
	line-height: 43px;
	border: 1px solid #DDDDDD;
}

.goods>img {
	cursor: pointer;
}

#first,
#second {
	height: 452px;
}

.goods {
	margin: 15px 5px 10px 0;
	padding-top: 20px;
	height: 405px;
	width: 240px;
	float: left;
	position: relative;
	border: 1px solid #ffffff;
}

.top-right {
	z-index: 99;
	position: absolute;
	right: 20px;
	top: 20px;
}

.dot p[class="desc1,desc2"] {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.goods:hover {
	/*设置阴影*/
	border: 1px solid #EAEAEA;
	box-shadow: 1px 1px 0px 6px #FAFAFA;
}

.jiage {
	color: #E60012;
	font-size: 20px;
	font-weight: bold;
}

.desc1 a,
.desc3 a {
	color: #000000;
	padding-left: 3px;
}

.desc1 a:hover,
.desc3 a:hover {
	color: #EA0012;
}

.desc2 a {
	padding-left: 3px;
	color: #E60012;
}

.desc2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc3 {
	text-overflow: clip;
}

.shopping {
	padding: 5px 15px;
	width: 89px;
	height: 45px;
	border: #FF4141;
	background-color: #FF5C4D;
	border-radius: 2px;
}

.sc a[class="shopping"]:hover {
	background-color: #FB3A29;
}

.sc {
	margin: 7px 15px 10px 3px;
	overflow: visible;
}

.sc>a {
	margin-right: 15px;
}

a[class="shopping"] {
	color: #FFFFFF;
}

.compare {
	padding: 5px 6px;
	width: 59px;
	height: 45px;
	border: 1px solid #DEDEDE;
	background-color: #FCFCFC;
	border-radius: 2px;
}

a[class="compare"] {
	color: #E60012;
}

.compare span {
	color: #DEDEDE;
	font-size: 18px;
}

.sc a[class="compare"]:hover {
	border: 1px solid #FB3A29;
}

.pingLun img {
	vertical-align: middle;
}

.pingLun a[class="estimate"] {
	color: #666666;
	margin: 0 10px 10px 3px;
	vertical-align: middle;
}

.pingLun span {
	color: #EB6363;
	vertical-align: middle;
}

.shopName a {
	color: #666666;
	padding-left: 3px;
}

#page {
	padding-top: 45px;
	padding-bottom: 35px;
	margin-bottom: 30px;
	height: 25px;
}

#manYiDu {
	width: 400px;
	float: left;
}

#manYiDu a {
	width: auto;
	padding: 5px 10px;
	border: 1px solid #F2F2F2;
	background: #FAFAFA;
	color: #666666;
	margin-left: 20px;
	border-radius: 2px;
}

#pageNumb {
	float: right;
}

#pageNumb a {
	width: auto;
	padding: 7px 15px;
	margin: 0 7px;
	border: 1px solid #F2F2F2;
	background: #FAFAFA;
	color: #999999;
}

#pageNumb a:hover {
	background: #FF8C64;
	border: 1px solid #F2855F;
	color: #FFFFFF;
}

#introduce {
	height: 170px;
}

#intro {
	margin-top: 20px;
	border-top: 1px solid #EEEEEE;
	height: 100px;
	float: left;
	padding: 20px 15px;
}

#intro h2 {
	color: #999999;
}

#intro p {
	color: #999999;
}

ul li {
	list-style-type: none;
}

#footer {
	height: 350px;
	margin: 0 auto;
}

#fcontent {
	width: 1050px;
	height: 160px;
	margin: 0 auto;
	margin-bottom: 30px;
	border-bottom: 1px solid #EBEBEB;
}

.ftxt img {
	vertical-align: middle;
}

.ftxt {
	height: 70px;
	width: 145px;
	float: right;
	line-height: 20px;
	margin-left: 25px;
}

.ftxt h3 {
	margin-top: 15px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
}

.ftxt p {
	height: 20px;
	line-height: 20px;
	color: #999999;
}

#foot_down li>a {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	line-height: 40px;
}

#img_show li>a {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	line-height: 40px;
}

#fcenter {
	width: 1100px;
	height: 150px;
	margin: 0 auto;
	margin-top: 30px;
}

#fcenter ul li {
	width: 140px;
	height: 25px;
	float: left;
}

#shouHou>ul>li {
	height: 26px;
	line-height: 26px;
	color: #666666;
}

#shouHou>ul>li>b {
	font-size: 14px;
}

#fcenter ul li a {
	color: #666666;
}

#fcenter ul li a:hover {
	color: #E60012;
}

#fcenter ul li ul {
	padding-left: 0;
}

#shouHou {
	float: left;
}

#cid {
	float: left;
}

#cid ul li {
	width: 150px;
}

.fphoto {
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: 50px;
}

#foot_down {
	width: 880px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 40px;
}

#foot_down ul li {
	width: auto;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	float: left;
}

#foot_down ul li a {
	font-size: 12px;
}

#foot_down ul li a:hover {
	color: #BA070C;
}

#copyright {
	clear: left;
	width: 400px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	color: #666666;
	font-size: 12px;
}

#img_show {
	height: 65px;
	margin: 0 auto;
	margin-top: 20px;
}

#img_show ul {
	width: 1000px;
	margin: 0 auto;
}

#img_show ul li {
	width: auto;
	float: left;
	padding-left: 10px;
	color: #666666;
}