* {
	margin: 0 auto;
	font-size: 12px;
	font-family: "微软雅黑";
}

a {
	color: #555555;
	text-decoration: none;
}

ul li {
	list-style-type: none;
	float: left;
	width: auto;
	padding-right: 15px;
}


/*顶部账号信息*/

#top {
	height: 30px;
	line-height: 30px;
	background: #F4F4F4;
	border-bottom: 1px solid #E5E5E5;
	min-width: 1200px;
}

.layout {
	margin: 0 auto;
	width: 1200px;
}

.layout::before {
	/*清除浮动*/
	content: "";
	display: table;
}

.layout::after {
	content: "";
	display: table;
}

.layout1 {
	margin: 0 auto;
	width: 570px;
}

.layout1::before {
	content: "";
	display: table;
}

.layout1::after {
	content: "";
	display: table;
}

#top a {
	color: #666666;
}

#top a:hover {
	color: #FF4040;
}

#top img {
	width: 12px;
	height: 16px;
	padding-top: 2px;
}

#left {
	width: 150px;
	height: 30px;
	float: left;
	padding-left: 20px;
}

#right {
	width: 500px;
	height: 30px;
	line-height: 30px;
	float: right;
}

#right img {
	width: 5px height:5px;
}

#msg>a[title] {
	color: #FE4089;
}

#msg {
	float: left;
	margin-left: 60px;
	width: 100px;
}

.menu {
	float: left;
}

#mine {
	widows: 90px;
}

#right li {
	width: 80px;
	height: 30px;
	float: left;
	text-align: center;
	list-style-type: none;
}

#right li ul {
	width: 80px;
	text-align: left;
}

#one1,
#two1,
#three1 {
	display: none;
}

#right li ul li {
	float: left;
	line-height: 20px;
	list-style-type: none;
	width: 80px;
	text-align: center;
}


/*大搜索框*/

#search1 {
	height: 110px;
}

#logo {
	width: 205px;
	height: 110px;
	float: left;
}

#logo img {
	width: 205px;
	height: 110px;
}

#logoRight {
	width: 995px;
	height: 108px;
	float: left;
}

#sousuo {
	height: 36px;
	width: 930px;
	float: left;
	margin-top: 35px;
	margin-left: 35px;
}

#sousuokuang {
	width: 750px;
	height: 36px;
	border: solid 2px #FF4040;
	border-right: none;
	border-radius: 3px;
	float: left;
}

#sousuokuang input {
	padding-left: 6px;
	width: 691px;
	height: 31px;
	line-height: 31px;
	outline: none;
	border: none;
	font-size: 14px;
}

#sousuokuang img {
	width: 50px;
	height: 39px;
	float: right;
}

#brand {
	width: 780;
	float: left;
	margin-top: 10px;
	height: 38px;
}

#brand a {
	color: #AAAAAA;
	font-size: 14px;
}

#brand a:hover {
	color: #FF4040;
}

#shoppingCar {
	width: 130px;
	height: 36px;
	border: 1px solid #D7D7D7;
	float: right;
	font-size: 16px;
	color: #666666;
	line-height: 36px;
	cursor: pointer;
}

#shoppingCar img {
	width: 47px;
	height: 35px;
	float: left;
}

#nav {
	border-bottom: 2px solid #FF4040;
	height: 40px;
}

#xiala {
	width: 210px;
	float: left;
	background: #FF4040;
	color: #ffffff;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}

#fenlei {
	float: left;
	height: 38px;
	width: 780px;
	line-height: 40px;
	margin-top: 2px;
}

#fenlei a {
	color: #333333;
	font-size: 16px;
	text-decoration: none;
}

#fenlei a:hover {
	color: #E60012;
}

#fenlei ul li {
	padding-right: 25px;
}


/*当前位置*/

#search2 {
	height: 40px;
	line-height: 40px;
}

#search2 span {
	color: #C9C9C9;
}

#sousuoleibie1 {
	width: 120px;
	font-weight: bold;
}

#sousuoleibie2 {
	width: 85px;
}

#sousuoleibie3 {
	width: 55px;
}

#sousuoleibie5 {
	margin-left: 5px;
}

.sousuoleibie {
	float: left;
}

.sousuoleibie a:hover {
	color: #EB0000;
}

#MIX2msg {
	margin-top: 20px;
	height: 630px;
}

#photos {
	float: left;
	margin-right: 10px;
	height: 555px;
	width: 420px;
}

#photo {
	width: 360px;
	height: 360px;
	border: 1px solid #DDDDDD;
	padding: 19px;
	margin-right: 25px;
	margin-bottom: 20px;
}

#bianhao {
	margin-top: 50px;
	clear: left;
	margin-left: 10px;
	margin-top: 20px;
	color: #999999;
}

#bianhao label {
	margin-right: 40px;
}

#priceInfo {
	float: left;
	width: 560px;
	margin-right: 15px;
}

#title>h3 {
	font-size: 16px;
}

h3+p {
	color: #999999;
	font-size: 14px;
	line-height: 39px;
	height: 39px;
}

#price {
	background: #FDE5E0;
	height: 108px;
	width: 570px;
}

#jiage {
	padding-top: 12px;
	height: 28px;
}

#jiage ul {
	width: 550px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
}

.price1 {
	color: #666666;
	padding-right: 30px;
}

#price2 {
	color: #E60012;
	font-size: 26px;
	font-weight: bold;
}

#mianYunFei {
	height: 30px;
	padding-top: 10px;
	padding-left: 60px;
	margin-right: 10px;
	border-top: 1px dotted #D7C3BF;
}

#mianYunFei span {
	padding-right: 6px;
	padding-left: 5px;
}

#mianYunFei a {
	color: #0066CC;
}

#span {
	border-right: 1px solid #D7C3BF;
}

#haoPingSongJinBi {
	background: #FFF4F2;
	height: 30px;
	padding-left: 60px;
	border-top: 1px solid #FFCBC4;
}

#haoPing {
	float: left;
}

#haoPingSongJinBi img {
	vertical-align: middle;
}

label {
	vertical-align: middle;
}

#haoPing span {
	color: #FF875A;
}

.span1 {
	font-weight: bold;
}

#songJinBi {
	float: left;
	margin-left: 60px;
}

#songJinBi span {
	color: #FF875A;
}

#cuXiao {
	height: 45px;
	line-height: 43px;
	border-bottom: 1px dotted #D7C3BF;
}

#cuXiao #cuxiao {
	padding-left: 0;
}

#cuXiao ul {
	padding-left: 10px;
}

#cuXiao ul li span {
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	height: 12px;
	line-height: 12px;
	padding: 2px 5px;
	color: #FFFFFF;
	background: #FF875A;
}

#cuXiao p {
	margin-left: 10px;
	margin-right: 70px;
	float: left;
	width: 280px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#cuXiao a {
	color: #0066CC;
}

#cuxiao {
	float: left;
}

#zengPin a {
	color: #FA946E;
	text-decoration: underline;
}

#color {
	margin-top: 10px;
	height: 100px;
}

#color>div {
	float: left;
}

.left {
	padding-left: 10px;
	line-height: 20px;
}

#colorChoice {
	width: 500px;
	float: left;
	margin-left: 24px;
}

#colorChoice ul {
	padding-left: 6px;
	padding-right: 0;
}


/*#colorChoice ul li,
#banBen ul li {
	border: 1px solid #DDDDDD;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 10px;
	margin-right: 4px;
	padding-right: 0px;
}*/

#colorChoice>div {
	margin: 3px;
	float: left;
	height: 44px;
	line-height: 44px;
	width: 88px;
	cursor: pointer;
}

.border {
	border: 1px solid #DDDDDD;
}

.man_nameandadr_1_1 {
	/*	float: left;
	margin: 3px;
	height: 44px;
	line-height: 44px;
	width: 88px;
*/
	border: 1px solid #e4393c;
	color: #666;
	position: relative;
}

.man_nameandadr_1_1 b {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 12px;
	height: 12px;
	overflow: hidden;
	background: url("images/HUAWEIP10/name-right.png") no-repeat;
}

.cantBuy {
	background: #EDEDED;
}

.cantBuy a {
	color: #999999;
}

.chose {
	border: 1px solid #E60021;
}

#banBen {
	margin-top: 15px;
	padding-bottom: 10px;
	height: 30px;
	border-bottom: 1px dotted #D9D9D9;
}

#banBen>div {
	float: left;
}

#banBen>div[class="left"] {
	margin-right: 24px;
}

#banben>div {
	cursor: pointer;
	float: left;
	margin: 3px;
	padding: 2px 4px;
}

#banBen ul {
	padding-left: 30px;
}

#banBen ul li {
	padding: 3px 10px;
	border: 1px solid #DDDDDD;
}

#sendTo {
	padding-top: 10px;
	height: 90px;
}

#to {
	color: #666666;
	width: 50px;
	float: left;
	margin-right: 4px;
}

#area {
	width: 350px;
	float: left;
	height: 20px;
	line-height: 20px;
}

#area span {
	border: 1px solid #CCCCCC;
	padding: 2px 5px;
	margin-right: 5px;
}

#area #label1 {
	padding-right: 10px;
	font-weight: bold;
}

#area #label2 {
	color: #666666;
}

#area p {
	margin-top: 10px;
	color: #666666;
}

#goodsCar {
	float: left;
	margin-bottom: 40px;
}

#goodsCar input {
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	float: left;
	margin: 0;
	font-size: 16px;
}

.bianshou {
	cursor: pointer !important;
}

#updown {
	width: 24px;
	height: 49px;
	float: left;
	margin: 0;
}

.up {
	margin: 0;
	width: 24px;
	height: 24px;
	line-height: 12px;
}

.up img {
	width: 24px;
	height: 24px;
}

.down {
	width: 24px;
	height: 24px;
	line-height: 24px;
}

.down img {
	margin: 0 auto;
	width: 24px;
	height: 24px;
}

.g_a {
	width: 102px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #ff5c4d;
	margin-left: 60px;
}

.g_a a {
	height: 32px;
	line-height: 32px;
	color: #ffffff;
}

#shoppingCar2 {
	float: left;
	height: 35px;
	margin-left: 40px;
	width: 130px;
	background: #FF5C4D;
	color: #FFFFFF;
	font-weight: bold;
	border: none;
	padding: 4px 2px;
	font-size: 16px;
	font-family: "微软雅黑";
}

#shoppingCar2 img {
	vertical-align: middle;
	width: 37px;
	height: 35px;
}

#shoppingCar2:hover {
	background: #FC3A29;
}

#promise {
	clear: left;
	padding-top: 10px;
	border-top: 1px dotted #D9D9D9;
}

#promise>div {
	color: #666666;
	width: 50px;
	float: left;
}

#promise #tuihuanhuo {
	width: 150px;
	float: left;
}

#promise #tuihuanhuo img {
	vertical-align: middle;
}

#look {
	float: right;
	height: 618px;
	width: 178px;
	border: 1px solid #EAEAEA;
}

#others {
	height: 35px;
	line-height: 35px;
	width: 178px;
	background: #FCFCFC;
	border-bottom: 1px solid #EAEAEA;
}

#others label {
	padding: 3px 27px;
	color: #666666;
	font-size: 14px;
}

#others a {
	color: #AAAAAA;
	font-size: 14px;
}

#others a:hover {
	color: #FF6A5A;
}

.otherPhones {
	padding-top: 18px;
	text-align: center;
	width: 138px;
	height: 170px;
}

.otherPhones p {
	cursor: pointer;
}

p[class="desc1"] {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

p[class="desc1"]:hover {
	color: #CC0000;
}

p[class="desc2"] {
	color: #E60021;
}

#detail {
	height: auto !important;
}

#leftPhones {
	width: 210px;
	height: 2870px;
	border: 1px solid #EEEEEE;
	float: left;
}

#shop {
	height: 180px;
	border-bottom: 2px solid #EEEEEE;
}

#shopName {
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #F7F7F7;
}

#shopName a {
	color: #000000;
}

#shopName a:hover {
	color: #CC0000;
}

#chatWith {
	color: #AAAAAA;
	height: 26px;
	text-align: center;
	padding: 5px 20px;
}

#chatWith img {
	vertical-align: middle;
}

#pingJia {
	margin: 0 30px;
	width: 155px;
	padding: 5px 10px;
	height: 70px;
}

#fenshu {
	font-size: 22px;
	color: #5191D3;
	float: left;
	width: 46px;
	height: 70px;
	line-height: 70px;
}

#gexiangfenshu {
	width: 100px;
	float: left;
	margin-left: 5px;
}

#gexiangfenshu div {
	margin-top: 5px;
}

.aa {
	padding: 0 3px;
	color: #999999;
}

.bold {
	font-weight: bold;
	padding-left: 0;
	color: #009900;
}

#joinShop {
	height: 30px;
	width: 170px;
	line-height: 30px;
	text-align: center;
}

#joinShop a {
	padding: 5px 15px;
	background: #FF5C4D;
	color: #FFFFFF;
}

#joinShop a:hover {
	background: #FC3A29;
}

#leftTop {
	height: 34px;
	line-height: 34px;
	margin: 0 5px;
	border-bottom: 1px solid #EEEEEE;
	text-align: center;
	font-size: 14px;
}

.phones {
	margin: 10px 10px;
	width: 180px;
	height: 210px;
	text-align: center;
	border-bottom: 1px solid #EEEEEE;
}

.phones img {
	width: 115px;
	height: 115px;
}

.phones p {
	height: 20px;
	line-height: 20px;
}

#desc2 {
	float: left;
}

#btn {
	position: relative;
	width: 72px;
	margin: 0 auto;
	clear: left;
}

#last {
	border: none;
}

#right2 {
	float: left;
	width: 976px;
	height: auto;
	margin-left: 10px;
	border: 1px solid #EEEEEE;
}

#zuiShouXiAiPaiHangBang {
	margin: 0 5px;
	height: 340px;
	line-height: 40px;
}

#xiai {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 10px;
}

#zuiShouXiAiPaiHangBang label {
	color: #FE3C3C;
	text-align: left;
}

.rightPhones {
	padding: 20px 10px;
	width: 170px;
	height: 230px;
	border: 1px solid #FFFFFF;
	float: left;
}

.num {
	top: 10px;
	left: 10px;
	vertical-align: top;
}

.desc4 {
	height: 28px;
	line-height: 14px;
	cursor: pointer;
}

.desc4:hover {
	color: #CC0000;
}

.desc5 {
	clear: left;
	height: 16px;
	width: 16px;
	float: left;
	color: #E60012;
}

.btn {
	width: 72px;
	margin: 0 auto;
	margin-top: 30px;
}

.rightPhones:hover {
	/*设置阴影*/
	border: 1px solid #FFC8C8;
	box-shadow: 0px 0px 10px #FFC8C8 inset;
}

#shouJiDetail {
	width: 975px;
	background: #FAFAFA;
	height: 40px;
	line-height: 40px;
	border: 1px solid #E1E1E1;
}

#shouJiDetail ul {
	padding-left: 0;
}

#shouJiDetail ul li {
	padding: 0px 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	border-right: 1px solid #E1E1E1;
}

.beChoose {
	background: #E60012;
	color: #FFFFFF;
}

#shouJiDetail ul li label {
	color: #E60012;
	padding-left: 5px;
}

#shouJiDetail ul a:hover {
	color: #E60012;
}

#guiGeCanShu {
	margin-top: 10px;
	height: 100px;
	background: #F7F7F7;
	padding-top: 20px;
	border: 1px solid #E1E1E1;
}

#guiGeCanShu p span {
	color: #333333;
	margin-left: 20px;
	font-size: 14px;
}

#guiGeCanShu p label {
	float: right;
	margin-right: 20px;
}

#guiGeCanShu p label a {
	color: #0066CC;
}

#guiGeCanShu p label a:hover {
	color: #EB0000;
}

#guiGeCanShu dd {
	margin-left: 20px;
	width: 290px;
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#canShuXiangQing table {
	border-collapse: collapse;
	margin: 10px;
	width: 960px;
	background: #F7F7F7;
	border: #F7F7F7 !important;
}

#canShuXiangQing {
	padding: 10px;
}

#canShuXiangQing table tr {
	height: 20px;
	line-height: 20px;
}

#canShuXiangQing table tr td {
	border: 1px solid #DDDDDD;
}

.thead {
	background: #DDDDDD;
}

.td1 {
	border-left: none !important;
}

.td2 {
	border-right: none !important;
}

#qingDan {
	font-size: 12px;
}

#canShuXiangQing {
	background: #F7F7F7;
	height: 1500px;
}

#images {
	text-align: center;
	height: 13500px;
}

.hide {
	display: none;
}

#images img {
	width: 660px;
	display: block;
}

#shengMing {
	background: #F7F7F7;
	border: 1px solid #E1E1E1;
	height: 470px;
	margin-top: 10px;
	padding: 1px 15px;
}

.desc6 {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 30px;
	line-height: 30px;
	font-family: "黑体";
	font-weight: bold;
	color: #555555;
}

.desc7 {
	color: #555555;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}

p>label {
	font-size: 12px;
	font-family: "黑体";
	font-weight: bold;
	color: #555555;
}

.desc8 {
	height: 50px;
	color: #555555;
	font-size: 12px;
	line-height: 25px;
}

#haoPingLv {
	background: #FBFBFB;
	border: 1px solid #E1E1E1;
	height: 160px;
	margin-top: 10px;
	padding: 10px 10px;
}

#aaaa {
	float: left;
	width: 100px;
	padding: 20px 30px;
	text-align: center;
}

#aaaa #p1 {
	padding-right: 20px;
	color: #FF3C3C;
	text-align: right;
}

#aaaa #p2 {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FF3C3C;
}

#aaaa #p2 label {
	color: #FF3C3C;
	font-size: 44px;
	font-weight: bold;
	font-family: "微软雅黑";
}

#bbbb {
	float: left;
	width: 300px;
}

#bbbb img {
	float: left;
	display: block;
}

#bbbb label {
	margin-top: 20px;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	background: #FFFFFF;
	padding: 4px 8px;
}

#pingLunQu {
	margin-top: 10px;
	border-bottom: 1px solid #DADADA;
}

#pingLunQu label {
	padding: 3px 8px;
	font-size: 16px;
}

#pingLunQu select {
	float: right;
	color: #CCCCCC;
}

#kehupinglun {
	height: 500px;
}

.ccc {
	margin-top: 20px;
}

.touxiang {
	width: 80px;
	float: left;
	text-align: center;
}

.touxiang img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.pinglun {
	width: 850px;
	float: left;
	padding: 0;
}

.a {
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	background: #FFF7F7;
	color: #FFE638;
	font-size: 20px;
}

.a label {
	color: #666666;
	font-size: 12px;
}

.b {
	height: 60px;
}

.c {
	height: 200px;
	border-bottom: 1px solid #F3F3F3;
	margin-bottom: 10px;
}

.content {
	padding-left: 10px;
	width: 50px;
	float: left;
}

.contentInfo {
	float: left;
	width: 780px;
	color: #666666;
}

.contentInfo img {
	width: 46px;
	height: 46px;
	padding: 2px;
	border: 1px solid #D9D9D9;
}

.guoXin {
	width: 58px;
	float: left;
}

.guoXin img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 1px solid #E1E1E1;
}

.huiFu {
	padding-left: 100px;
	width: 560px;
	float: left;
	line-height: 16px;
	color: #DCA0A0;
}

.desc9 {
	padding-top: 10px;
	color: #999999;
}

#foot {
	height: 600px;
	clear: both;
}

#footer {
	height: auto;
	margin: 0 auto;
}

#fcontent {
	width: 1050px;
	height: 160px;
	margin: 0 auto;
	margin-bottom: 30px;
	border-bottom: 1px solid #EBEBEB;
}

.ftxt img {
	vertical-align: middle;
}

.ftxt {
	height: 70px;
	width: 145px;
	float: right;
	line-height: 20px;
	margin-left: 25px;
}

.ftxt h3 {
	margin-top: 15px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
}

.ftxt p {
	height: 20px;
	line-height: 20px;
	color: #999999;
}

#foot_down li>a {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	line-height: 40px;
}

#img_show li>a {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	line-height: 40px;
}

#fcenter {
	width: 1100px;
	height: 150px;
	margin: 0 auto;
	margin-top: 30px;
}

#fcenter ul li {
	width: 140px;
	height: 25px;
	float: left;
}

#shouHou>ul>li {
	height: 26px;
	line-height: 26px;
	color: #666666;
}

#shouHou>ul>li>b {
	font-size: 14px;
}

#fcenter ul li a {
	color: #666666;
}

#fcenter ul li a:hover {
	color: #E60012;
}

#fcenter ul li ul {
	padding-left: 0;
}

#shouHou {
	float: left;
}

#cid {
	float: left;
}

#cid ul li {
	width: 150px;
}

.fphoto {
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: 50px;
}

#foot_down {
	width: 880px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 40px;
}

#foot_down ul li {
	width: auto;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	float: left;
}

#foot_down ul li a {
	font-size: 12px;
}

#foot_down ul li a:hover {
	color: #BA070C;
}

#copyright {
	clear: left;
	width: 400px;
	height: auto;
	line-height: 30px;
	margin: 0 auto;
	color: #666666;
	font-size: 12px;
}

#img_show {
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}

#img_show ul {
	width: 1000px;
	margin: 0 auto;
}

#img_show ul li {
	width: auto;
	float: left;
	padding-left: 10px;
	color: #666666;
}