.cn_gobuy {
	float: left;
	width: 215px;
	text-align: center;
	line-height: 2;
	border: 1px solid #E6E2E2;
	border-radius: 2%;
	position: relative;
	height: 215px;
	overflow: hidden;
}

.cn_gobuy_1 {
	float: left;
	width: 215px;
	text-align: center;
	line-height: 2;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #E6E2E2;
	border-radius: 2%;
	position: relative;
	height: 215px;
	overflow: hidden;
}

.biankuang {
	width: 3px;
	height: 3px;
	position: absolute;
	z-index: 99;
	border-radius: 10px;
	/*background: black;*/
}

.biankuang_1 {
	height: 3px;
	top: -6px;
	left: 0px;
	border-left: 3px solid #EB5858;
}

.biankuang_2 {
	width: 0px;
	bottom: -3px;
	left: 0px;
	border-top: 3px solid #EB5858;
}

.biankuang_3 {
	height: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 3px solid #EB5858;
}

.biankuang_4 {
	width: 0px;
	top: -3px;
	right: 0px;
	border-bottom: 3px solid #EB5858;
}

.tp_gobuy {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0px;
}

.text_gobuy {
	position: absolute;
	z-index: 9;
	bottom: -50px;
	width: 215px;
	height: 30px;
	overflow: hidden;
	background: rgba(207, 208, 211, 0);
	cursor: pointer;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}

.text-b {
	position: absolute;
	top: 1px;
}

.text_gobuy_show {
	height: 30px;
	position: absolute;
	z-index: 9;
	bottom: 0px;
	width: 215px;
	overflow: hidden;
	padding: 10px 15px;
	cursor: pointer;
	background-color: rgba(207, 208, 211, 0.3);
}

.cn_gobuy b {
	position: absolute;
	bottom: 10px;
	left: 20px;
	line-height: 33px;
	color: #EB5858
}

.cn_gobuy .a_add_divboc {
	position: absolute;
	bottom: 0;
	left: 100px
}

.top_text {
	position: absolute;
	top: 0;
	z-index: 999;
	text-align: center;
	width: 100%;
	left: 0
}

.search_y {
	position: absolute;
	left: 100px;
	top: 0px;
	z-index: 999;
	opacity: 0
}

.search_y1 {
	position: absolute;
	left: 100px;
	top: 0px;
	z-index: 999;
	opacity: 0
}